@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html,
body,
#root {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.dark .logo-img {
  filter: invert(1) brightness(2);
}

.light .logo-img {
  filter: none;
}

.font-garamond {
  font-family: 'EB Garamond', serif;
}

.dark-theme-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 100px);
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.dark .signal-icon {
  filter: invert(1) brightness(2);
}

.light .signal-icon {
  filter: none;
}